<mat-card class="product" [ngClass]="product().inStock ? 'stock' : 'out-of-stock'" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>{{product().name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="product().imageUrl" [alt]="product().name" [routerLink]="['/products',product().id]">
  <div>
    <button (click)="onToogleFavorite()" >{{ isFavorite() ? '❤️' : '🤍' }}</button>
    <button  type="button" (click)="onToogleShowRatingForm()">Noter ce produit</button>
  </div>
  @if (showRatingForm){
    <form [formGroup]="ratingForm">
      <h4>Votre avis compte</h4>
      <mat-form-field>
        <mat-label>Avis</mat-label>
        <select matNativeControl formControlName="rate">
          <option value="1">⭐</option>
          <option value="2">⭐⭐</option>
          <option value="3">⭐⭐⭐</option>
          <option value="4">⭐⭐⭐⭐</option>
          <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Commentaire</mat-label>
        <textarea matInput
                  formControlName="comment"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5">
    </textarea>
      </mat-form-field>
      <button type="submit" [disabled]="ratingForm.invalid" (click)="sendRate()">Envoyer</button>
    </form>
  }




  <mat-card-content>
    <p>{{ product().description}}</p>
    <!-- <p>{{product.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr' }}</p>-->
    <p>{{product().price | currency : 'EUR'}}</p>
    <p>⭐{{product().rating}}/5</p>
    @switch (product().category){
      @case ('gaming'){
        <span class="sports">🎮 Jeux vidéo</span>
      }
      @case ('clothing'){
        <span class="badge red">👕 Mode</span>
      }
      @case ('home'){
        <span class="badge green">🏠 Maison</span>
      }
      @case ('electronics'){
        <span class="badge blue">📱 High-tech</span>
      }
      @case ('sports'){
        <span class="badge blanc">⚽ Sport</span>
      }
      @default {
        <span class="badge gray">📦 Autre</span>
      }
    }
    @if (product().inStock) {
      <p>✅ Disponible</p>
    } @else {
      <p>❌ En rupture</p>
    }
  </mat-card-content>
  <mat-card-actions>
    @if (product().inStock){
      <button matButton="elevated" (click)="onAddToCart()" >Ajouter au panier</button>
    } @else {
      <button matButton="elevated" [disabled]="true" class="btn-disabled">En repture</button>
    }
  </mat-card-actions>
</mat-card>

