.mat-mdc-raised-button:not(:disabled) {
  color: green;
}
.mat-mdc-raised-button:not(:disabled):hover{
  color: white;
  background-color: rgba(11, 129, 16, 0.85);
}

.stock {
  border-bottom: 5px solid green;
}
.out-of-stock {
  border-bottom: 5px solid red;
}
.product {
  flex-direction: column;
  padding: 1rem;
}

section{
  margin: 50px auto 0 auto;
  max-width: 1024px;
}
.mat-mdc-card-title {
  padding: 10px;
}

