
<form [formGroup]="loginForm" style="
    display: flex;
    flex-direction: column;">
  <!----------------------------Email --------------------------->
  <label for="email">
    E-mail :
    <input id="email" type="email" formControlName="email" [attr.aria-invalid]="loginForm.controls.email.invalid">
  </label>
  @if (loginForm.controls.email.invalid && loginForm.controls.email.touched) {
    <p>Email est requis</p>
  }
  <!------------------------------ Password ------------------------------->
  <label for="password">
    Mot de passe :
    <input id="password" type="password" formControlName="password"
           [attr.aria-invalid]="loginForm.controls.password.invalid">
  </label>
  @if (loginForm.controls.password.invalid && loginForm.controls.password.touched) {
    <p class="error">Mot de passe invalid</p>
  }
  <!----------------------------Submit button --------------------------->
  <button type="submit" [disabled]="loginForm.invalid">Login</button>

</form>

