.list-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.product {
  flex-direction: column;

  padding: 1rem;
}
.stock {
  border-bottom: 5px solid green;
}
.out-of-stock {
  border-bottom: 5px solid red;
}

.buy:hover{
  color: white;
  background-color: rgba(11, 129, 16, 0.85);
}

