/* profile-form.page.css */
.input-wrapper {
  gap: 1rem;
}
.green-text{
  color: green;
}

.btn-primary{
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  color: var(--color-primary);
  font-size: 1rem;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-md);
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: all var(--transition-fast);
  margin-top: var(--spacing-md);
}
.btn-primary:hover {
  background-color:var(--color-primary);
  color: white;
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}




